extends layout

block content
  h1= title
  p Welcome to #{title}
  -const results = [{name: windsor, country: United Kingdom, wealth: $530m},
  {name: Vajiralongkorn, country: Thailand, wealth: $43b},
  {name: Bolkiah, country: Brunei, wealth: $28b}
  ];

  div(class= "container-fluid")
  div(class= "row")
  each value, index in results 
  div(class= "col-sm-2" onclick= `buy(${index})`) #{value.name} is the name, in #{value.country}, They are #{value.wealth} rich 

script. 
  function buy(index){
    alert(`You purchased Item ${index+1}`)
  }